body {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: #f3f4f6;
  color: #111827;
  list-style: none;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}

button { font-family: inherit; }



